* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #40424A;
}

:root {
  --red:red;
  --main-grey:#40424A;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
