.modal {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 35vw;
  background: #40424A;
}

.modal-left {
  width: 25vw;
  background: #40424A ;
  padding: 20px;
  position: relative;
}

.modal-right {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #40424A;
  padding: 20px;
  width: 30vw;
}


.modal-left form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-left label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-family: "Grotesque", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}

.modal-left h1 {
  color: white;
  font-family: "Grotesque black", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 20px;
  padding: 0px 30px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.modal h2 {
  color: white;
  font-family: "Grotesque black", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 30px;
  width: 25vw;
  text-align: center;
  transform: translate(-50%, -50%);
  /* -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
   animation: flickerAnimation 2s infinite; */
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.cameraImg {
  width: 25px;
  height: 15px;
  cursor: pointer;
}

.cameraImg:hover {
  transform: rotate(-10deg);
}

.modal-left input {
  margin-top: 10px;
  width: 100%;
  background: none;
  color: white;
  font-size: 18px;
  border:none;
  border-bottom: 1px solid white;
}

.modal-left h3 {
  font-size: 18px;
  font-family: "Grotesque Black", sans-serif;
  color: white;
  text-transform: uppercase;
  margin: 20px 0px;
}

.modal-left input[type="submit"] {
  width: 80%;
  height: 60px;
  background:#2D7AEE;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: "Grotesque", sans-serif;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 20px;
}

.modal-left input[type="submit"]:hover {
  color: lightgrey;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
